---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fretboard - About">
  <p>Here is an explanation of how the app works:</p>
  <ul class="flex flex-col gap-4">
    <li>
      <a class="text-sky-300 hover:text-sky-200 transition-colors ease-in-out underline" href="https://youtu.be/oqK0WrcokpM">https://youtu.be/oqK0WrcokpM</a>
    </li>
    <li>
      Start with 3 notes on one string. This app will call out random note,
      play it after you see it called out.
    </li>

    <li>
      Do this for a couple minutes. Practice it until you can play the notes
      right after with no hesitation.
    </li>
    <li>
      The next day, practice the previous days' notes you did already to
      start. Make sure there’s 0 hesitation. Only if you can do that, add one
      note to that string and repeat the process.
    </li>
    <li>
      The next day, repeat the same as above. After finishing the 6th string,
      move to the 5th and so on. Take in data as your doing this like if it’s
      on a dotted/non-dotted fret or relative stuff.
    </li>
    <li>
      Other exercises: identify all the C’s vertically and horizontally.
      Identify all notes in X chord. Identify the intervals in X chord.
    </li>
  </ul>
</Layout>
