---
import Layout from "../layouts/Layout.astro";
---

<style>
	.numeric-input {
		width: 50px;
	}
	#curr-note {
		font-size: 12rem;
		text-align: center;
	}
</style>

<Layout title="Fretboard">
  <main class="">
    <h1 class="header">Fretboard</h1>
    <p>Here is an explanation of how the app works</p>

    <section>
      <form id="fret-form">
        <label for="numericInput">Current string being practiced:</label>
        <input
					class="numeric-input"
          type="number"
          id="numericInput"
          name="numericInput"
          min="1"
          max="6"
          required
        /><br /><br />

        <label for="commaDelimitedInput">Notes you want to practice:</label>
        <input
          type="text"
          id="commaDelimitedInput"
          name="commaDelimitedInput"
          required
        />
        <small>(Enter comma-delimited letters only)</small><br /><br />

        <input type="submit" value="Submit" />
      </form>
    </section>
		<section>
			<p>Current string: <span id="curr-string"></span></p>
			<p>Current note:</p>
			<div id="curr-note">
				E
			</div>
		</section>
  </main>
</Layout>

<script>
  const form = document.getElementById("fret-form");
  if (form) {
    form.addEventListener("submit", handleSubmit);
    // Function to validate the comma-delimited string of letters
    function validateText(input: string): boolean {
      const regex = /^[a-zA-Z]+(?:,[a-zA-Z]+)*$/; // Regex to match comma-delimited string of letters
      if (regex.test(input)) {
        return true;
      } else {
        return false;
      }
    }

    // Function to handle form submission
    function handleSubmit(event: SubmitEvent) {
      event.preventDefault(); // Prevent the form from submitting
      const commaDelimitedInput = document.getElementById(
        "commaDelimitedInput"
      ) as HTMLInputElement | null;
      if (commaDelimitedInput) {
        if (validateText(commaDelimitedInput.value)) {
          alert("Good");
        } else {
          alert("Bad");
        }
      }
    }
  }
</script>
