---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@fontsource/trade-winds";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-white bg-neutral-900 flex flex-col py-6 px-10 gap-6">
		<h1 class="self-center uppercase text-4xl md:text-6xl">Fretboard</h1>
		<nav class="flex items-center justify-center gap-10">
			<a class="underline" href="/">Home</a>
			<a class="underline" href="/about">About</a>
		</nav>
    <slot />
  </body>
</html>
<style is:global>
  h1 {
    font-family: "Trade Winds";
		font-display: block;
  }

	body {
		font-family: 'Lateef', system-ui, sans-serif;
		font-display: block;
	}
</style>
